<%- include('partials/Header.ejs') %> <%- include('partials/Site_Header.ejs') %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<%- include('partials/Site-Footer.ejs') %> <%- include('partials/Footer.ejs') %>
